:root {
    --background: #18BC9C;
    --white-complemetary: rgba(255, 255, 255, 0.75);
    --black-complemetary: rgba(0, 0, 0, 0.75);
    --primary-color: rgb(44, 62, 80);
    --primary-color-complementary: rgba(44, 62, 80, 0.75);
    --button-color: rgb(33, 37, 41);
    --button-color-border: rgb(33, 37, 41);
    --button-color-hover: rgb(28, 31, 35);
    --button-color-hover-border: rgb(26, 30, 33);
    --padding: 5px;
}

body {
    background-color: var(--background);
    margin: 0px;
}

nav {
    background-color: var(--primary-color);
    padding-top: 0.25em;
    padding-bottom: 0.25em;
}

p,
h1,
div {
    font-family: 'Montserrat';
}

h1 {
    font-size: 25px;
    color: white;
}

textarea {
    border-radius: 0px 0px 5px 5px;
    width: 100%;
    font-family: sans-serif;
}

.title {
    text-decoration: none;
    color: white;
    text-shadow: 0px;
    transition-property: font-size, text-shadow;
    transition-duration: 0.15s;
}

.title:hover {
    text-shadow: 0px 2.5px 10px black;
    color: white;
    font-size: 27.5px;
}

.encrypted-textarea {
    background-color: var(--primary-color);
    color: white;
    height: calc(28.25% + 28.25% + 4% + 30px + 30px + 48px + calc(4 * var(--padding)* 2));
}

.passphrase-textarea {
    background-color: var(--primary-color);
    color: white;
    height: 4%;
}

.clear-textarea {
    background-color: white;
    color: black;
    height: 28.25%;
}

.key-textarea {
    background-color: black;
    color: white;
    height: 28.25%;
}

.textarea-title {
    width: 100%;
    height: 30px;
    padding-top: 4.5px;
    border-radius: 5px 5px 0px 0px;
}

.encrypted-title {
    background-color: var(--primary-color-complementary);
    color: white;
}

.passphrase-title {
    background-color: var(--primary-color-complementary);
    color: white;
}

.clear-title {
    background-color: var(--white-complemetary);
    color: black;
}

.key-title {
    background-color: var(--black-complemetary);
    color: white;
}

.btn-wrapper {
    display: flex;
    justify-content: space-evenly;
}

.btn {
    grid-area: 'btn';
    color: white;
    background-color: var(--button-color);
    border-color: var(--button-color-border);
    border-radius: 10px;
    height: 48px !important;
    transition-property: font-size;
    transition-duration: 0.15s;
    font-size: 1.25em;
    cursor: pointer;
}

.btn:hover {
    color: white;
    background-color: var(--button-color-hover);
    border-color: var(--button-color-hover-border);
    font-size: 1.35em;
}

.padding {
    padding: var(--padding);
}


.wrapper {
    transform: scale(1);
    box-shadow: 0px;
    transition-property: transform, box-shadow;
    transition-duration: 0.15s;
}

.wrapper:hover {
    transform: scale(1.015);
    box-shadow: 0px 2.5px 10px rgba(0, 0, 0, 0.25);
}

.flex {
    display: flex;
    height: 95%;
    flex-direction: flex;
}

.column {
    grid-area: 'column';
    margin-right: calc(2*var(--padding));
    margin-left: calc(2*var(--padding));
    width: 50%;
    height: 100vh;
}

.vertical-center {
    display: flex;
    align-items: center;

}

.center {
    display: flex;
    justify-content: center;
}

.grid-child {
    width: 100%;
    height: 100%;
}

.height-75 {
    height: 75%;
}

.height {
    height: calc(100% - 48px);
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('/assets/fonts/Montserrat.woff2') format('woff2');
    /* src: url(fonts/Montserrat-VariableFont_wght.woff2) format('woff2'); */
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* stollen from boostrap */
.text-center {
    text-align: center;
}

.my-container {
    margin-right: auto;
    margin-left: auto;
}

@media (max-width:767px) {
    .btn-responsive {
        font-size: 0.30em;
    }

    .btn-responsive:hover {
        font-size: 0.40em;
    }

}

@media (min-width:507px) {
    .btn-responsive {
        font-size: 0.65em;
    }

    .btn-responsive:hover {
        font-size: 0.75em;
    }

}

@media (min-width: 768px) {
    .btn-responsive {
        font-size: 0.85em;
    }

    .btn-responsive:hover {
        font-size: 0.95em;
    }

    .my-container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .btn-responsive {
        font-size: 1.25em;
    }

    .btn-responsive:hover {
        font-size: 1.35em;
    }

    .my-container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .btn-responsive {
        font-size: 1.25em;
    }

    .btn-responsive:hover {
        font-size: 1.35em;
    }

    .my-container {
        width: 1170px;
    }
}

@media (min-width: 1425px) {
    .btn-responsive {
        font-size: 1.25em;
    }

    .btnresponsive:hover {
        font-size: 1.35em;
    }

    .my-container {
        width: 1295;
    }
}

/* modal stolen from stackoverflow */
.modal {
    transition-duration: 0.15s;
    transition-property: display;
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 14%;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content */
.modal-content {
    transform: scale(1);
    transition-duration: 0.15s;
    transition-property: transform;
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0);
    width: 30%;
    margin: auto;
}

.modal-content:hover {
    transform: scale(1.015);
}

.modal-textarea {
    border-color: rgba(0, 0, 0, 0);
    border-radius: 0px;
}

.modal-error {
    display: none;
    color: red;
    font-size: 12px;
    margin: 0px;
    padding: 15px;
}

.black-background {
    background-color: black;
}

.modal-save {
    transform: scale(1);
    border-radius: 0px 0px 10px 10px;
    transition-property: transform border-radius;
    transition-duration: 0.15s;
    cursor: pointer;
    width: 100%;
    height: 40px;
    background-color: var(--black-complemetary);
    color: white;
    border-color: rgba(0, 0, 0, 0);
}

.modal-save:focus {
    border-radius: 5px;
    transform: scale(1.015);
}

/* The Close Button */
.modal-close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.modal-close:hover,
.modal-close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.chat-area {
    overflow-y: scroll;
    height: 60%;
}

.chat-buttons {
    height: 20%;
}

.send-title {
    width: 100%;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.75);
    padding-top: 4.5px;
    border-radius: 5px 5px 0px 0px;
}

.send-textarea {
    width: 100%;
    height: 40%;
    background-color: #ffffff;
    color: #000;
    border-color: #ffffff;
    border-radius: 0px 0px 8px 8px;
}

.background-color {
    background-color: var(--background);
}

.chat-button {
    transition-property: transform box-shadow;
    transition-duration: 0.15s;
    box-shadow: 0px;
    transform: scale(1);
    font-size: 16px;
    border-radius: 10px;
    border-color: rgba(0, 0, 0, 0);
}

.chat-button:hover {
    cursor: pointer;
    transform: scale(1.05);
    box-shadow: 0px 2.5px 10px rgba(0, 0, 0, 0.25);
}

.chat-send-button {
    width: 55%;
    height: 45px;
    font-weight: bold;
}

.chat-secondary-button {
    color: white;
    background-color: var(--button-color);
    width: 30%;
    height: 40px;
    font-weight: bold;
}

.users-online {
    color: white;
}

.chat-message-padding {
    padding: 8px;
}

.chat-message {
    background-color: #ffffff;
    padding: 5px;
    border-radius: 10px;
    word-wrap: break-word;
}